
</body>
<div class="footer-padding"></div>
  <div class="footer">   
    <section id="footer">
       
            <i class="fab fa-instagram-square f-icon"></i>
            <i class="fab fa-facebook-square f-icon"></i>
            <i css="fab fa-twitter f-icon"></i>
            <i class="fas fa-envelope f-icon"></i>
         
      
          <p>© Copyright 2018 SINGAGE</p>
    </section>
  </div>

</html>
